
.searchBoxContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.searchBox {
    display: flex;
    width: max(60%, 400px);
    background-color: rgb(96, 139, 232);
    border: 2px solid black;
    border-radius: 20px;
    flex-direction: column;
}

.searchBoxHeader {
    flex: 1;
    max-height: 40px;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.129);
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: rgb(0, 0, 0);
}

.searchBoxContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.searchBoxContentRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 30px;
    height: 30px;
}

input.searchBoxInput {
    flex: 1;
    background-color: rgb(209, 224, 255);
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

button.searchBoxInputButton {
    width: 60px;
    background-color: rgb(209, 224, 255);
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 5px;
}

button.searchBoxInputButton:hover {
    background-color: rgb(194, 214, 255);
}

button.searchBoxInputButton:active {
    background-color: rgb(159, 191, 255);
}

.searchBoxDisplay {
    height: fit-content;
    min-height: 100px;
    min-width: fit-content;
    margin-top: 6px;
    border: 1px solid black;
    background-color: rgb(235, 241, 255);
    border-radius: 15px;
    padding: 5px;
}

.searchBoxDisplay > div {
    display: flex;
    margin: 3px;
    overflow: hidden;
    text-overflow: clip;
}

.searchBoxDisplay > div > header {
    font-weight: bold;
    width: 180px;
    min-width: 180px;
}

.searchBoxPrompt {
    display: flex;
    width: max(140px, fit-content);
    height: 30px;
    color: black;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
}

.registerContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    border: 1px solid black;
    background-color: rgb(235, 241, 255);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.registerContainer > button {
    height: 30px;
    width: 120px;
    background-color: rgb(209, 224, 255);
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 5px;
    font-weight: bold;
}

.registerCheckboxGroup {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.searchBoxTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.searchBoxTextBox > div {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    flex: 1;
    padding: 10px;
    background-color: rgb(235, 241, 255);
    text-align: center;
    color: red;
}

.searchBoxDisplayContainer > * {
    margin-top: 10px;
}